.titles{
  width: 440px;
  display: grid;
  grid-template-columns: 37px 369px;
  grid-template-rows: 59px 47px 15px 48px;
  gap: 51px 24px;
  
  &__label {
    display: flex;
    justify-self: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: right;
    &_1 {
      font-size: 24px;
    }
    &_2 {
      font-size: 18px;
    }
    &_3 {
      font-size: 13px;
    }
    &_4 {
      font-size: 14px;
    }
  }
  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    margin: 0;
  }
  h2 {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
  }
  h3 {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__descr {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
}