.colors-type {
  padding: 11% 0;
  position: relative;
  min-height: 280px;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@import '../colors/colors';
@import '../titles/titles';