extends ../../layouts/default-ui-kit.pug

block variables
  - pageTitle = 'Colors & Types'
block content 
  include ../../libs/colors/_colors.pug
  include ../../libs/text-block/_text-block.pug
  .container 
    .content__wrapper
      .colors__wrapper 
        +colors({className: "dark-shade-100", colorName: "Dark Shade 100%", colorNumber: "#1F2041"})
        +colors({className: "dark-shade-75", colorName: "Dark Shade 75%", colorNumber: "#1F2041"})
        +colors({className: "dark-shade-50", colorName: "Dark Shade 50%", colorNumber: "#1F2041"})
        +colors({className: "dark-shade-25", colorName: "Dark Shade 25%", colorNumber: "#1F2041"})
        +colors({className: "dark-shade-5", colorName: "Dark Shade 5%", colorNumber: "#1F2041"})
        +colors({className: "purple", colorName: "Purple", colorNumber: "#BC9CFF"})
        +colors({className: "green", colorName: "Green", colorNumber: "#6FCF97"})
      .text__wrapper 
        +text-block({tag: "h1", tagName: "h1", className: "big-text", text: "This one is the sub-section or widget title", classTag: "titles"})
        +text-block({tag: "h2", tagName: "h2", className: "middle-text", text: "Next one is the item title inside widgets", classTag: "titles"})
        +text-block({tag: "h3", tagName: "h3", className: "small-text", text: "This is a label or CTA text", classTag: "titles"})
        +text-block({tag: "p", tagName: "Body", className: "base-text", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc.", classTag: "titles"})