extends ../../layouts/default-ui-kit.pug
include ../../libs/text-field/_text-field.pug 
block variables
  - pageTitle = 'Form Elements'
block content
  .container 
    .text-field-container
      .text-field
        +text-field("text field", "email", "email", "Email", disabled, readonly, false)
      .text-field
        +text-field("text field", "email", "email", "Email", disabled, readonly, false)
      .text-field
        +text-field("text field", "email", "email", "Email", disabled, readonly, false)
      .text-field
        +text-field("masked text field", "text", "date", "", disabled, readonly, true)