extends ../../layouts/default-ui-kit.pug 
include ../../libs/text-field/_text-field.pug 
include ../../libs/date-dropdown/date-dropdown.pug 
block variables
  - pageTitle = 'Form Elements'
block content
  include ../../libs/input-dropdown/_input-dropdown.pug
  include ../../libs/buttons/_buttons.pug
  include ../../libs/datepicker/_datepicker.pug
  .container 
    .text-field-container
      +text-field("text field", "email", "email", "Email", disabled, readonly, false)
      +text-field("text field", "email", "email", "This is pretty awesome", disabled, readonly, false)
      +text-field("masked text field", "text", "date", "", disabled, readonly, true)
      +text-field("masked text field", "text", "date", "", disabled, readonly, true)
      +dropdown-input("Dropdown", "Сколько гостей", ["взрослые", "дети", "младенцы"], "guests", 0)
      +dropdown-input("Dropdown", "2 спальни, 2 кровати...", ["спальни", "кровати", "ванные комнаты"], "rooms", 0)
      +button("click me", "small")
      +button("перейти к оплате", "big")
      +button("click me", "outline")
      +button("click me", "transparent")
      +text-field("subscription text field", "email", "date", "Email", disabled, readonly, false, 25, true, subClass)
      +datepicker("airdatepicker", "two-fields")
      +filter-date()