
mixin dropdown-input(labelName, title, items=[])
  .titles.titles_h3=labelName
  .text-field__input.dropdown
    .dropdown__title=title
    .dropdown-wrapper
      each item in items 
        .dropdown-wrapper__item
          p=item 
          span=item[i]