
mixin dropdown-input(labelName, title, items=[])
  .dropdown
    .titles.titles_h3=labelName
    .dropdown__title=title 
    .dropdown-wrapper.hide
      each item in items 
        .dropdown-wrapper__item
          p.titles.titles_h3=item 
          .counter 
            button.minus
            span.counter__number 0
            button.plus