mixin colors({className, colorName, colorNumber}) 
  .color-item
    .color-item__sample(class="color-item__sample_" + className) 
    .color-item__descr
      p #{colorName}
      span #{colorNumber}
    